body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: auto
}
.container{
   border: 1px solid whitesmoke;
   padding: 20px;
   margin: 40px auto;
   width: 500px;
}
h1 {
    color: goldenrod;
    font-size: 40px
}

#message-el {
    font-style: italic;
    margin-bottom: 30px;
    font-size: 20px
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}
button:hover {
    background: yellow;
}
#cards-el, #sum-el{
    font-size: 17px
}
.credits{
    font-weight: 100;
    padding-top: 20px;
    font-size: 12px;
}
